.body {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1400px;
}

.ujjo-nav__button {
  width: 60px;
  height: 30px;
  background-color: #fb4b4d;
  padding: 16px 44px;
  color: white;
  text-decoration: none;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.ujjo-nav__button:hover {
  background-color: yellowgreen;
}

.ujjo-nav__link {
  width: 50px;
  color: #222;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  margin-top: 20px;
  -webkit-transition: all linear;
  transition: all linear;
}
.ujjo-nav__link:hover {
  text-decoration: underline;
}

.ujjo-nav__image {
  position: relative;
}
.ujjo-nav__image::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: orangered;
  margin-right: 40px;
}

.ujjo-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
}

.ujjo-vector {
  width: 656px;
  height: 384px;
  position: relative;
}

.ujjo-vector__second {
  width: 556px;
  height: 256px;
  position: absolute;
  left: 4%;
  bottom: 176px;
}

.ujjo-pepper__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pepper-text {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}

.hot-sauce__text {
  width: 536px;
  height: 194px;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
}

.hot-sauce__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ujjo-hot__sauce-second {
  margin-left: 42px;
}

.ujjo-hot__sauce {
  margin-top: 136px;
}

.ujjo-scorpion__text {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
}

.ujjo-scorpion__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 99px;
}

.ujjo-card {
  width: 434px;
  height: 654px;
  position: relative;
}
.ujjo-card::before {
  content: url(/image/IMAGE.icon.svg);
  position: absolute;
}

.ujjo-card_botle {
  width: 390px;
  height: 412px;
  position: absolute;
  left: 20px;
  top: 220px;
}

.ujjo-card__botle-text {
  position: absolute;
  left: 120px;
  bottom: 480px;
  width: 176px;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.ujjo-card__botle-text-second {
  position: absolute;
  left: 18px;
  bottom: 406px;
  width: 390px;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}

.ujjo-cards__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.pepper-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.botle-image {
  width: 100vw;
}

.sauce-story__title {
  width: 590px;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
}

.sauce-sexangle__text {
  width: 392px;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.sauce-sexangle {
  position: relative;
  left: 10px;
  top: 40px;
}
.sauce-sexangle::before {
  content: url(/image/sauce\ jar.png);
  position: absolute;
  left: 60px;
  bottom: 610px;
}
.sauce-sexangle::after {
  content: url(/image/sauce\ opposite\ jar.png);
  position: absolute;
  right: 60px;
  bottom: 610px;
}

.sauce-text {
  position: absolute;
  left: 144px;
  top: 136px;
}

.sauce-story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}
.sauce-story::before {
  content: url(/image/sauce\ rabbit.png);
  position: absolute;
  right: 600px;
  bottom: 10px;
}
.sauce-story::after {
  content: url(/image/sauce\ rabbit\ opposite.png);
  position: absolute;
  left: 900px;
  bottom: 10px;
}

.sauce-footer {
  position: relative;
}

.footer-text {
  position: absolute;
  top: 140px;
  left: 250px;
}

.footer-frame {
  position: absolute;
  right: 116px;
  top: 30px;
}

.footer-nav__text {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}